In [3]:
import pandas as pd
import zipfile

In [15]:
with zipfile.ZipFile('../data/pole-data-importer.zip', 'r') as zip_file:
    for fileinfo in zip_file.infolist():
        print(fileinfo.filename)
    foo = pd.read_csv(zip_file.open("crime-investigation.nodes.PhoneCall.csv"))

neo4j_importer_model.json
crime-investigation.nodes.Object.csv
crime-investigation.nodes.Person.csv
crime-investigation.nodes.Phone.csv
crime-investigation.nodes.PhoneCall.csv
crime-investigation.nodes.Vehicle.csv
crime-investigation.relationships.CALLED.csv
crime-investigation.relationships.CALLER.csv
crime-investigation.relationships.CURRENT_ADDRESS.csv
crime-investigation.relationships.FAMILY_REL.csv
crime-investigation.relationships.HAS_EMAIL.csv
crime-investigation.relationships.HAS_PHONE.csv
crime-investigation.relationships.INVOLVED_IN.csv
crime-investigation.relationships.KNOWS.csv
crime-investigation.relationships.KNOWS_LW.csv
crime-investigation.relationships.KNOWS_PHONE.csv
crime-investigation.relationships.KNOWS_SN.csv
crime-investigation.relationships.PARTY_TO.csv
crime-investigation.nodes.Area.csv
crime-investigation.nodes.Email.csv
crime-investigation.nodes.Officer.csv
crime-investigation.relationships.LOCATION_IN_AREA.csv
crime-investigation.relationships.POSTCODE_IN_AREA.csv
crime-investigation.nodes.PostCode.csv
crime-investigation.relationships.HAS_POSTCODE.csv
crime-investigation.relationships.OCCURRED_AT.csv
crime-investigation.relationships.INVESTIGATED_BY.csv
crime-investigation.nodes.Location.csv
crime-investigation.nodes.Crime.csv

In [16]:
foo

       :ID  call_duration call_time   call_date call_type     :LABEL
0    16943             38     00:32  04/08/2017      CALL  PhoneCall
1    16944              1     14:44  27/08/2017      CALL  PhoneCall
2    16945             39     23:49  14/08/2017       SMS  PhoneCall
3    16946              3     07:12  15/08/2017       SMS  PhoneCall
4    16947             13     09:55  19/08/2017      CALL  PhoneCall
..     ...            ...       ...         ...       ...        ...
529  31751             26     23:32  01/08/2017       SMS  PhoneCall
530  31752             11     23:39  01/08/2017       SMS  PhoneCall
531  31753             74     23:40  01/08/2017       SMS  PhoneCall
532  31754             79     23:42  01/08/2017       SMS  PhoneCall
533  31755             29     23:49  01/08/2017      CALL  PhoneCall

[534 rows x 6 columns]

In [17]:
foo.dropna()

       :ID  call_duration call_time   call_date call_type     :LABEL
0    16943             38     00:32  04/08/2017      CALL  PhoneCall
1    16944              1     14:44  27/08/2017      CALL  PhoneCall
2    16945             39     23:49  14/08/2017       SMS  PhoneCall
3    16946              3     07:12  15/08/2017       SMS  PhoneCall
4    16947             13     09:55  19/08/2017      CALL  PhoneCall
..     ...            ...       ...         ...       ...        ...
529  31751             26     23:32  01/08/2017       SMS  PhoneCall
530  31752             11     23:39  01/08/2017       SMS  PhoneCall
531  31753             74     23:40  01/08/2017       SMS  PhoneCall
532  31754             79     23:42  01/08/2017       SMS  PhoneCall
533  31755             29     23:49  01/08/2017      CALL  PhoneCall

[534 rows x 6 columns]